# Streamlit secrets
.streamlit/secrets.toml
app/.streamlit/secrets.toml

# Bytes compiled
__pycache__/
*.py[cod]

# Excel Data Files (Generated or Temporary)
*.xlsx
*.xls
~$*

# OS specific
.DS_Store
Thumbs.db
